<svg width="100%" height="100%">
    <svg overflow="visible" x="50%" y="50%">
        <g [attr.transform]="tf()">
            <line stroke-linecap="round" stroke="brown" stroke-width="2px" 
                x1="0" 
                y1="0"
                [attr.x2]="glider.groundSpeed.x" 
                [attr.y2]="glider.groundSpeed.y">
            </line>
            <line stroke-linecap="round" stroke="white" stroke-width="1px" 
                x1="0" 
                y1="0" 
                [attr.x2]="glider.groundSpeed.x" 
                [attr.y2]="glider.groundSpeed.y">
            </line>
            <g [attr.transform]="gliderTf()">
                <path stroke-linecap="round" stroke-width="1px" fill="none" stroke="black" d="M0,5 L10,0 L0,-5 L-10,0 Z"></path>
            </g>

            <line stroke-linecap="round" stroke="black" stroke-width="0.5px" 
                x1="0" 
                y1="0" 
                [attr.x2]="glider.airSpeed.x" 
                [attr.y2]="glider.airSpeed.y">
            </line> 
            <line stroke-linecap="round" stroke="blue" stroke-width="0.5px" 
                [attr.x1]="glider.airSpeed.x" 
                [attr.y1]="glider.airSpeed.y" 
                [attr.x2]="glider.airSpeed.x + glider.windSpeed.x" 
                [attr.y2]="glider.airSpeed.y + glider.windSpeed.y">
            </line>
        </g>
    </svg>
</svg>