@import '~leaflet/dist/leaflet.css';

body {
    margin: 0;
}

@for $i from 1 through 10 {
    .basis-#{$i*10} {
        flex-basis: $i*10%;
    }
}

.height-100vh {
    height: 100vh;
}

.d-flex {
    display: flex;
    flex-wrap: nowrap;
}

.flex-column {
    flex-direction: column;
}


.br-1 {
    border-right: 1px solid black;
}

.bb-1 {
    border-bottom: 1px solid black;
}

.circle-transition {
    transition: fill-opacity linear 2s
}