<div class="d-flex flex-column height-100vh">
  <div class="basis-50">
    <div class="br-1" app-map>
    </div>
  </div>
  <div class="basis-50 d-flex">
    <div app-vector-speedometer class="basis-50 bb-1"></div>
    <div app-vector-variometer class="basis-50"></div>
  </div>

</div>

<router-outlet></router-outlet>
